@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base{
    :root{

        /*Colors*/


        /*Brand Color*/
        --primary:"#ED0590"
        --primary-darker:"#CF037E"
        --primary-lighter:"#FF43B4"
        --primary-outline:"#E1098B"
        --secondary:"#4209E1"
        --secondary-darker:"#3101B8"
        --secondary-lighter:"#6B36FF"

         /*Text & Background*/

         /*Dark grays*/

         --dark-gray-primary:"#2A2A2A"
         --dark-gray-secondary:"#4F4E4E"
         --dark-gray-tertiary:"#7E7B7B"
         --dark-gray-quartenary:"#A4A1A1"
         --dark-gray-quintenary:"#D1CDCD"

        /*Light grays*/

        --light-gray-primary:"#DAD6D6"
        --light-gray-secondary:"#E1DDDD"
        --light-gray-tertionary:"#ECEAEA"
        --light-gray-quartenary:"#F3F2F2"
        --light-gray-quintenary:"#FCFBFB"

        /*Custom colors*/
        
        /*Red*/
        --dark-red:"#ED053D"
        --semidark-red:"#EF2254"
        --medium-red:"#F2597E"
        --semilight-red:"#F6A0B5"
        --light-red:"#F9CAD5"
        
        /*Green*/
        --dark-green:"#01AB4F"
        --semidark-green:"#20B564"
        --medium-red:"#51C586"
        --semilight-green:"#98DCB7"
        --light-green:"#CAECDA"

        /*Blue*/
        --dark-blue:"#178CBE"
        --semidark-blue:"#3A9DC7"
        --medium-blue:"#7ABCD9"
        --semilight-blue:"#A9D3E5"
        --light-blue:"#D6E9F1"

        /*Yellow*/
        --dark-yellow:"#F0CC0D"
        --semidark-yellow:"#F2D438"
        --medium-yellow:"#F4DD64"
        --semilight-yellow:"#F7E795"
        --light-yellow:"#F8EDB5"

        
    }
    
}
