@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    /*Colors*/

    /*Brand Color*/
    --primary: 237, 5, 144;
    --primary-darker: 207, 3, 126;
    --primary-lighter: 255, 67, 180;
    --primary-outline: 225, 9, 139;

    --secondary: 66, 9, 225;
    --secondary-darker: 49, 1, 184;
    --secondary-lighter: 107, 54, 255;

    /*Text & Background*/

    /*Dark grays*/
    --dark-gray-primary: 42, 42, 42;
    --dark-gray-secondary: 79, 78, 78;
    --dark-gray-tertiary: 126, 123, 123;
    --dark-gray-quartenary: 164, 161, 161;
    --dark-gray-quintenary: 209, 205, 205;

    /*Light grays*/
    --light-gray-primary: 218, 214, 214;
    --light-gray-secondary: 225, 221, 221;
    --light-gray-tertionary: 236, 234, 234;
    --light-gray-quartenary: 243, 242, 242;
    --light-gray-quintenary: 252, 251, 251;

    /*Custom colors*/

    /*Red*/
    --dark-red: 237, 5, 61;
    --semidark-red: 239, 34, 84;
    --medium-red: 242, 89, 126;
    --semilight-red: 246, 160, 181;
    --light-red: 249, 202, 213;

    /*Green*/
    --dark-green: 1, 171, 79;
    --semidark-green: 32, 181, 100;
    --medium-green: 81, 197, 134;
    --semilight-green: 152, 220, 183;
    --light-green: 202, 236, 218;

    /*Blue*/
    --dark-blue: 23, 140, 190;
    --semidark-blue: 58, 157, 199;
    --medium-blue: 122, 188, 217;
    --semilight-blue: 169, 211, 229;
    --light-blue: 214, 233, 241;

    /*Yellow*/
    --dark-yellow: 240, 204, 13;
    --semidark-yellow: 242, 212, 56;
    --medium-yellow: 244, 221, 100;
    --semilight-yellow: 247, 231, 149;
    --light-yellow: 248, 237, 181;

    /* Screens */
    --screen-mobile: 390px;
    --screen-desktop: 1440px;

    /* Widths for Desktop Boxes */
    --width-desktop-2col: 625px; /* Desktop box (2 columns) */
    --width-desktop-3col: 429px; /* Desktop box (3 columns) */
    --width-desktop-4col: 318px; /* Desktop box (4 columns) */
    --width-desktop-6col: 207px; /* Desktop box (6 columns) */
    --width-desktop-column: 95px; /* Desktop column */
    --width-mobile-column: 77px; /* Mobile column */

    /* Heights for Desktop Boxes */
    --height-desktop-2col: 235px; /* Desktop box (2 columns) */
    --height-desktop-3col: 155px; /* Desktop box (3 columns) */
    --height-desktop-4col: 115px; /* Desktop box (4 columns) */
    --height-desktop-6col: 75px; /* Desktop box (6 columns) */

    /* Padding & Margin */
    --spacing-xxs: 4px; /* Extra extra small */
    --spacing-xs: 8px; /* Extra small */
    --spacing-sm: 16px; /* Small */
    --spacing-md: 24px; /* Medium */
    --spacing-lg: 32px; /* Large */
    --spacing-xl: 40px; /* Extra large */
    --spacing-2xl: 48px; /* 2x extra large */
    --spacing-3xl: 54px; /* 3x extra large */
    --spacing-4xl: 60px; /* 4x extra large */
  }
}
